body{
    font-family: sans-serif;
    text-align: center;
    background-color: lightcyan;
    align-items: center;
    background-image: url(img/pimba.png);
    background-size: 100% 100%;
}
.button {
    background-color: white;
    color: black;
    border: 2px solid #4cafa8; /* Green */
    width: 170px;
    border-radius: 4px;
    margin: 5px;
    display: inline-block
    
    
  }
  .button {
    transition-duration: 0.4s;
  }
  
  .button:hover {
    background-color: #4cafa8; /* Green */
    color: white;
  }
  .nao{
    border: 12px;
    background-color: #4cafa8;
    border-radius: 6px;
    padding: 20px;
    margin: 20px;
  }
  

  img {
    width: 500px;
    height: 250px;
    
  }
  a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }

  h1{
    text-shadow: 2px 2px 3px #4cafa8;
  }
  h2{
    text-shadow: 2px 2px 3px lightcyan;
  }
  .divcenter{
    display: content;
    justify-content: center;
  }